/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 414px) { }

@media (max-width: 767px) { 
    #no-mobile{
        display:none;
    }
   .welcome {
	font-size: 22px !important;
	margin-top: 0px !important;
}

.angelco{display: none !important;}

.terms {
font-size: 15px !important;
}

#signup {
font-size: 22px !important;
line-height: 1.2 !important;
padding: 5px 12px;
}

.signup-word{padding-top: 9px !important;}

.btn-warning.signup{
font-size: 25px !important;
padding-top: 16px !important;
}

.school_code{
	font-size: 22px !important;
	padding-left: 16px !important;
	height: 68px !important;
	padding-top: 0px !important;
}

.hide-on-mobile{
	display: none !important;
}
.signup br{
display: inherit !important;
}
.invitation-mobile{
	display: inherit !important;
	font-size: 20px !important;
	text-align: center !important;
	margin-top: -22px !important;
}

.centered_text span {
font-size: 14px !important;
}

.top-buffer {
margin-top: 10px !important;
}

.accept-terms, .no-accept-terms {
font-size: 14px;
color: #144758;
}
.signup_login br {
display: block !important;
}

.signup_login {
font-size: 20px !important;
}

.done-btn{
	height: 34px !important;
	margin-top: 6px !important;
}

#yes-school{font-size: 22px !important;
line-height: 1.2 !important;
padding: 5px 12px;}




}/*end query*/	

/**********************************************************************/

/*[class*="col-"] {
padding-top: 1px;
padding-bottom: 1px;
background-color: #eee;
background-color: rgba(86,61,124,.15);
border: 1px solid #ddd;
border: 1px solid rgba(86,61,124,.2);
}
*/

body{
font-family: 'Quicksand', sans-serif !important;
font-weight: 300;
color: #144758 !important;
font-size: 100% !important;
}


footer{
	background-color: #F47832;
	height: 160px;
	margin-top: 10px;
}

section {
padding: 0px 0;
}

ul.nav.navbar-nav{
margin-top: 20px;
}

.navbar {
background:#144758;
height: 100px;
}

ul.nav.navbar-nav li a{
	color: #ffffff;
	font-size: 18px;
}
ul.nav.navbar-nav li a:hover, .ul.nav.navbar-nav li a:focus {
text-decoration: none;
color: yellow;
background-color: transparent;
}

.navbar-brand img{
	margin-top: 5px;
	margin-left: -30px;
}


.centered_text{
    margin: 0 auto;
    text-align: center;
}
.centered_text span{
	font-size: 22px;
	color: #144758;
}
.invitation-mobile{display: none;}


.col-centered{
    float: none;
    margin: 0 auto;
}
.welcome {
font-size: 40px;
font-weight: 700;
margin-top: 28px;
margin-bottom: 25px;
text-align: center;
color: #144758;
}
.invitation{font-size: 25px;
	text-align: center;
}

.school_code{
	display: block;
	width: 100%;
	height: 45px;
	border-style: solid;
    border-color: #144758;
    border-radius: 6px;
    border-width: 2px;
    font-size: 25px;
    padding-left: 27px;
}

.account-login{
	background-color: #BFE5F0;
	font-size: 20px;}

.btn-warning.signup{
	height: 68px;
font-size: 30px;
font-weight: 700;
padding-top: 10px;
background-color: #AECF74;
border-color: transparent;
text-shadow: none !important;
-webkit-box-shadow:none;
box-shadow: none;
}

.done-btn{height: 43px;}


.btn-warning:hover, 
.btn-warning:focus, 
.btn-warning.focus, 
.btn-warning:active, 
.btn-warning.active, 
.open>.dropdown-toggle.btn-warning {
color: #144758 !important;
background-color: #F0EC64 !important;
border-color: #F0EC64 !important;
text-shadow: none !important;
-webkit-box-shadow:none;
box-shadow: none;
}

#signup{
	width: 100%;
	height: 68px;
font-size: 30px;
font-weight: 700;
padding-top: 10px;
border-color: transparent;
border: none;
}

#no-school,
#ConfirmPin span img{
	width: 6%;
	float: right;
	}

#signup:hover,
#signup:focus, 
#signup.focus, 
#signup:active, 
#signup.active, {
	color: #144758 ;
	background-color: #F0EC64;
	border-color: #F0EC64;

}


.signup_login{	
width: 100%;
height: 68px;
background-color: #BFE5F0;
font-size: 24px;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
background-image: none;
white-space: nowrap;
padding: 6px 12px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}
.signup_login br{
display: none;
}


.get-in-touch{
	text-decoration: underline;	
	font-weight: 700;
	color: #144758;
}
.terms {
text-align: center;
color: #fff;
padding-top: 30px;
font-size: 17px;
}

.social-icon{padding-right: 20px;}

.top-buffer { margin-top:20px; }

/*******************Teacher step 2*******************/
.text-center {
text-align: center;
}


#yes-school{
		height: 68px;
		width: 100%;
		font-size: 30px;
		font-weight: 700;
		padding-top: 10px;
		background-color: #AECF74;
		border-color: transparent;
		text-shadow: none !important;
		-webkit-box-shadow:none;
		box-shadow: none;

}

#yes-school span img{
	width: 6%;
	float: right;
	}

#yes-school:hover, 
#yes-school:focus, 
#yes-school.focus, 
#yes-school:active, 
#yes-school.active, 
.open>.dropdown-toggle#yes-school {
color: #144758;
background-color: #000000;
border-color: #F0EC64 !important;
text-shadow: none !important;
-webkit-box-shadow:none;
box-shadow: none;
}

#no-school{
		height: 68px;
		width: 100%;
		font-size: 30px;
		font-weight: 700;
		padding-top: 10px;
		/*background-color: #E8CD5C;*/
		border-color: transparent;
		text-shadow: none !important;
		-webkit-box-shadow:none;
		box-shadow: none;
}


.manage-profile{
		background-color: #E8CD5C;
		color: white;


}

#no-school span img{
	width: 6%;
	float: right;
	}

.accept-terms,
.no-accept-terms{
	font-size: 18px;
	color: #144758;
}

.confirm-school{font-size: 25px;}

/*******************end teacher step 2************************/

/*******************Teacher step 3************************/

label{font-size: 14px;}

#FirstName,
#LastName,
#EmailAddress,
#MobileNumber,
#CreatePassword,
#ConfirmPassword
{display: block;
width: 100%;
height: 45px;
border-style: solid;
border-color: #144758;
border-radius: 6px;
border-width: 1px;
font-size: 22px;
padding-left: 10px;}

/*******************End teacher step 3************************/


/*******************Teacher step 4************************/

#ConfirmPin{
		width: 100%;
		height: 68px;
		font-size: 30px;
		font-weight: 700;
		padding-top: 10px;
		background-color: #AECF74;
		border-color: transparent;
		}
/*******************End teacher step 4************************/

.icon-teacher-in{padding-right: 4px;}

/*******************Step 6 ************************/

.add-class{background-color: #144758;
color: white;
height: 50px;}

#flat-btn{
		/*height: 34px;*/
		width: 100%;
		font-size: 15px;
		font-weight: 500;
		padding-top: 5px;
		border-color: transparent;
		text-shadow: none !important;
		-webkit-box-shadow: none;
		box-shadow: none;
		}

/*******************cEnd Step 6 ************************/

/******************* Step 8 ************************/

.btn-class-dropdown{
	color: #fff;
background-color: #144758;
border-color: #ccc;
	width: 100%}

.search-via-code{width: 100%;
height: 33px;
border-radius: 8px;
border-color: #144758;}	

.reg-class-1{
	background-color:#12C0DB;
	height:100px;
	border-radius: 10px;
}
.reg-class-2{
	background-color: #F0EC64;
	height: 100px;
	border-radius: 10px;
}
.reg-class-3{
background-color: #E8CD5C;
	height: 100px;
	border-radius: 10px;
}
.reg-class-4{
	background-color: #BFE5F0;
	height: 100px;
	border-radius: 10px;
}
.reg-class-5{
background-color: #F47832;
	height: 100px;
	border-radius: 10px;
}
.reg-class-6{
	background-color: #AECF74;
	height: 100px;
	border-radius: 10px;
}
.class-number-subject{
		margin-left: 15px;
		margin-top: 5px;
	}
.class-name, .class-code{font-size: 18px;
font-weight: 600;}	


/*******************end Step 8 ************************/
/*******************Step 9 ************************/
.delete-class{background-color: #D0021B;
	height: 60px;
	border-radius: 10px;}
.cancel-changes{
	background-color: #F47832;
	height: 60px;
	border-radius: 10px;}	

.view-learners{
	background-color: #12C0DB;
	height: 150px;
	border-radius: 10px;}
.view-library{
	background-color: #AECF74;
	height: 150px;
	border-radius: 10px;}
.view-insight{
	background-color: #37AB98;
	height: 150px;
	border-radius: 10px;
}

.view-learners-text{
	margin-left: 15px;
	margin-top: 5px;
	font-size: 18px;
	font-weight: 600;
}
.view-library-text{
	margin-left: 15px;
	margin-top: 5px;font-size: 18px;
	font-weight: 600;
}
.view-insight-text{
	margin-left: 15px;
	margin-top: 5px;font-size: 18px;
	font-weight: 600;
}
.delete-btn{
	font-size: 22px;
	font-weight: 600;
	color: #fff;
}

.cancel-btn{
	font-size: 22px;
	font-weight: 600;
	color: #fff;
}
.step-9-btn-c-d{
	padding-top: 14px;
	margin-left: 10px
}
/*******************end Step 9 ************************/
/*******************Step 10 ************************/
.step-10-lbl{
		float: left;
		}
#dropdown-class-10{
	height: 50px;
	background-color: #12C0DB;
	font-size: 25px;	
	color: #144758;
	font-weight: 700;
	text-align: left;		
		}
.total-learners{
	background-color: #144758;
	height: 50px;
	border-radius: 10px;
}
.total-learners, .age-learners span{
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	display: block;
	padding-top: 9px;
}
.age-learners{
	background-color: #144758;
	height: 50px;
	border-radius: 10px;
}
.search-learner{
	border-radius: 10px;	
}
.search-learner input{
	width: 100%;
	height: 50px;
	border-radius: 8px;
	border-color: #144758;
	font-size: 17px;
}
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
    border-collapse: initial !important;    
}
.bordered {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 10	px;
	border: 2px solid #144758;           
}
.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}       
.bordered td, .bordered th {
    border-left: 2px solid #144758;
    padding: 10px;
    text-align: left;    
}
.bordered th {
    background-color: #144758;
	color:#fff;         
    border-top: none;
}
.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}
.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 3px 0 0 0;
}
.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 3px 0 0;
}
.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
.bordered>tbody>tr>td:nth-child(2){
	width: 20%;
}
/*******************End Step 10 ************************/
/*******************Step 11 ************************/
#dropdown-class-11 {
height: 50px;
background-color: #F0EC64;
font-size: 25px;
color: #144758;
	font-weight: 700;
	text-align: left;
}
#dropdown-class-12 {
	height: 50px;
	background-color: #E8CD5C;
	font-size: 25px;
	color: #144758;
	font-weight: 700;
	text-align: left;
}
#dropdown-class-13 {
	height: 50px;
	background-color: #BFE5F0;
	font-size: 25px;
	color: #144758;
	font-weight: 700;
	text-align: left;
}
#dropdown-class-14 {
	height: 50px;
	background-color: #F47832;
	font-size: 25px;
	color: #144758;
	font-weight: 700;
	text-align: left;
}
.search-manually{
	border-radius: 10px;	
}
.search-manually input{
	width: 100%;
	height: 40px;
	border-radius: 8px;
	border-color: #144758;
	font-size: 17px;
}
/*******************End Step 11 ************************/
/*******************Teacher profile ************************/
.profile-picture{
		height: 350px;
		background-color: green;

	}

#school-details{height: 350px;}
.logout-class{
	background-color: #E8CD5C;
	height: 60px;
	border-radius: 10px;
}
.cancel-changes-profile{
	background-color: #F47832;
	height: 60px;
	border-radius: 10px;
}
/*******************End Teacher profile ************************/



